.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
}

.header_local,
.header_offsite {
    display: flex;
    align-items: center;
    /* gap: 1.5rem; */
}

.header_local {
    flex: 80 1 80%;
    justify-content: flex-start;
}

.header_local_link {
    width: auto;
    height: auto;
}

.header_offsite {
    flex: 20 1 20%;
    justify-content: flex-end;
}
