/* :root {
    --base: #f2fbe0;
    --secondary: #bcb6ff;
    --accent: #0081a7;
    --light: #ffffff;
    --dark: #000000;
} */

header {
    display: flex;
}

.local-links {
    flex: 1 0 calc(50vw - 1.5rem);
    display: flex;
    justify-content: left;
    align-items: center;
}

.offsite-links {
    flex: 1 0 calc(50vw - 1.5rem);
    display: flex;
    justify-content: right;
    align-items: center;
}
