.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_local {
    flex: 80 1 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_offsite {
    flex: 20 1 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
