.right-arrow {
    rotate: 0deg;
}

.down-arrow {
    rotate: 90deg;
}

.left-arrow {
    rotate: 180deg;
}

.up-arrow {
    rotate: 270deg;
}

.nav-arrow-message {
    font-size: 1.5rem;
    translate: 0rem 2.5rem;
}

.nav-arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
