#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

#contact-me svg {
    width: 100px;
    height: 100px;
}

.nav-arrow-container {
    flex: 10 1 10%;
}

.contact-link {
    width: 100%;
    height: 100%;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 90 1 90%;
}

.contact-link:hover {
    color: var(--accent);
}

.contact-message {
    color: inherit;
}

.email-svg {
    color: inherit;
    fill: currentColor;
}
