.base__horizontal_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.base__vertical_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.contact_me {
    composes: base__vertical_flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20%;
}

.contact_me__link {
    composes: base__vertical_flex;
    justify-content: flex-start;
    gap: 0rem;
    color: var(--dark);
}

.contact_me__link:hover {
    color: var(--accent);
}

.contact_me__message {
    color: inherit;
}

.contact_me__svg {
    width: 300px;
    height: 225px;
}

.contact_me__svg path {
    fill: currentColor;
}
