@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Base stuff */

body {
    height: 100vh;
    width: 100vw;
}
:root {
    --base: #f2fbe0;
    --secondary: #bcb6ff;
    --accent: #0081a7;
    --light: #ffffff;
    --dark: #000000;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: var(--base);
    display: grid;
    grid-template-areas:
        "header    header    header"
        ".         main      .";
    grid-template-rows: 15fr 85fr;
    grid-template-columns: 125fr 750fr 125fr;
    fill: currentColor;
}

body {
    margin: 0rem;
}

* + * {
    /** forbidden technique: lobotomized owl selector */
    margin: 1.5rem 0 0 0;
}

header {
    margin-top: 0;
    grid-area: header;
    background-color: var(--secondary);
}

header * {
    margin: 1.5rem;
}

main {
    grid-area: main;
}

p,
div {
    color: var(--dark);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
}

a {
    color: var(--dark);
    font-size: 2rem;
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

/** svg stuff */
.svg-link {
    color: var(--dark);
    height: 6rem;
    width: 6rem;
}

.svg-base {
    fill: currentColor;
}

.svg-transparent {
    fill: var(--secondary);
}

.svg-link {
    padding: 1.5rem;
    margin: 0rem;
}
.svg-link > svg {
    height: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.svg-link:hover {
    color: var(--accent);
}

.svg-link > svg > path {
    fill: currentColor;
}
