/* :root {
    --base: #f2fbe0;
    --secondary: #bcb6ff;
    --accent: #0081a7;
    --light: #ffffff;
    --dark: #000000;
} */

header {
    display: flex;
    width: 100%;
}

.local-links {
    flex: 80 1 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.offsite-links {
    flex: 20 1 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
