#project-card {
    margin-top: 1.5rem;
    flex: 85 1 85%;
    align-self: center;
    background-color: blue;
}

.project-card_img-container {
}

.project-card_img {
}

.project-card_title {
}

.project-card_description {
}
